body {
    font-family: Arial, sans-serif;
    background-color: #f3a476;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .countdown-container {
    text-align: center;
    background-color: rgba(168, 20, 20, 0.582);
    color: rgb(41, 35, 35);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(165, 0, 0, 0.514);
  }
  
  .countdown {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .countdown-item {
    margin: 0 10px;
    font-size: 24px;
    text-align: center;
  }
  
  .controls {
    margin-top: 20px;
  }
  
  .controls label,
  .controls button {
    margin: 5px;
    color: white;
    background-color: #8d8b0b;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .controls button:hover {
    background-color: #c2b1b1;
  }
  
  input[type="datetime-local"] {
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  